<app-header title="Inicio"></app-header>

<ion-content>
  <div class="d-flex-center">
    <h4 class="h4-experience">Mi experiencia con este proyecto</h4>
  </div>
  <div class="d-flex-center">

        <!-- ========== FASE 1 ========== -->
    <ion-card>
      <img class="img-c-1" alt="Imagen de tareas" src="/assets/icon/task.png" />
      <img class="img-c" alt="Imagen de tareas" src="/assets/icon/google.png" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Fase 1</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Desde la aplicación Google Task asigne las diferentes fases por las que pasaria el proyecto.
      </ion-card-content>

      <ion-card-content>
        De esta manera tenia un mejor control.
      </ion-card-content>
    </ion-card>

    <!-- ========== FASE 2 ========== -->
    <ion-card>
      <img class="img-c-1" alt="Imagen de tareas" src="/assets/icon/investigar.png" />
      <img class="img-c-1" alt="Imagen de tareas" src="/assets/icon/ionic.png" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Fase 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        La fase 2 consistio en investigar todos aquellos temas que no eran conocidos
      </ion-card-content>

      <ion-card-content>
        IONIC era una tarea nueva para mi.
      </ion-card-content>
    </ion-card>
  </div>

 <!-- ========== FASE 3 ========== -->
  <div class="d-flex-center">
    <ion-card>
      <img class="img-c-1" alt="Imagen de tareas" src="/assets/icon/implement.png" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Fase 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Desde esta fase fue donde se empezo a implementar los requerimientos del proyecto.
      </ion-card-content>
    </ion-card>

 <!-- ========== FASE 4 ========== -->
    <ion-card>
      <img class="img-c-1" alt="Imagen de tareas" src="/assets/icon/conclusion.png" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Fase final</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Gracias a este proyectome hizo expander mis conoocimientos a nuevas areas desconocidas.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
